.bg-color{
    /* background-color: rgb(1, 24, 56); */
    background: linear-gradient(to right ,#000428, #01427a);
}
.bg-navbar{
    background-color: rgb(1, 32, 75);
}

.image{
    height: 380px;
    width: 100%;
    background: black;
    background-position: top;
    transition: ease-in-out 11s;
}

.image1{
    background: url('/images/la-masia.png');
    background-size: cover;
}
.image2{
    background: url('/images/toys.png');
    background-size: cover;
}
.image3{
    background: url('/images/lets\ go.png');
    background-size: cover;
}
.image4{
    background: url('/images/chef.png');
    background-size: cover;
}

.image:hover{
    background-position: bottom;
}

.banner-img-container{
    height: 500px;
    width: 500px;
    background-color: aliceblue;
    
}
.banner-img{
    height: 420px;
    width: 520px;
}

.local-btn{
    background: linear-gradient(to right ,#ec6724, #b31215);
}